
/*farver som variabler*/
:root {
    --sort: black;
    --hvid: white;
    --blå: #0066FF;
    --pink: #E904A8; 
    --orange: #E96E15; 
    --grøn: #07AE22; 
    --gul: #F9E004; 
}

/*style af hele siden*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
  }

/*Header style*/

 /*styling af hele header*/
 .header {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 0.5rem;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed; /* Fastgør navbaren øverst på siden */
    z-index: 99;
    text-wrap: nowrap; 
 }

   /*logo styling*/
 #logostyle {
    width: 15%;
    height: auto;
    margin-left: 2rem; 
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
 }

 /*styling af burgermenu*/
 .dropdown-burgermenu {
    display: none; /* Skjuler dropdown-indholdet som standard */
    position:fixed;
    font-family: "Reem Kufi", Arial, Helvetica, sans-serif;
    font-weight: 100;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    right: 15px;
    line-height: 1.5;
    z-index: 1;
 }
 
 .dropdown-burgermenu a{
    text-decoration: none;
    color: var(--sort);
    font-style: normal;
    font-size: 20px;
 }

 .burger-icon {
    display: block;
    cursor: pointer;
    margin-right: 40px;
    font-size: 36px;
 }
 
 .hover-effekt:hover {
    text-decoration: underline; /*Understreger når man hover over den valgte overskrift*/
 }
 
 .toggle-checkbox:checked + .burger-icon + .dropdown-burgermenu {
    display: block; /*Viser/skjuler dropdown-menuen, når man trykker på burger ikonet*/
 }
 
 /*Styling af sub-dropdown-content*/
 .sub-dropdown-content {
    display:none;
    position: absolute;
    top: 100%;
    right: 100%;
    color: var(--sort);
    font-family: "Reem Kufi", Arial, Helvetica, sans-serif;
    font-weight: 100;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
 }

 .submenu:hover .sub-dropdown-content {
    display: block; /*Viser sub-dropdownmenuen, når musen hover over*/
 }
 
 .submenu{
    position:relative;
 }
 
 #sub-dropdown-content1{
    position:fixed;
    display: none;
 }
 
 #sub-dropdown-content2{
    top:100px;
    position: fixed;
 
 }
 
 /* Skjuler checkbox */
 #toggle {
    display: none;
 }
 
 /*skjuler navigationsbaren*/
 .navbar {
   display: none;
 }
 
 @media screen and (min-width: 992px) {

 /*styling af navbar til desktop størrelsen*/

 .navbar {
   list-style-type: none;
   display: flex; /*Navigationsbaren vises*/
 }

 .navbar li:hover .dropdown-content { 
   display: block; /*Viser dropdown-indholdet, når musen hover over menupunkterne*/
 }

 .navbar li {
   margin-right: 3.5rem;
 }

 .navbar a {
   text-decoration: none;
   color: var(--sort);
   font-family: "Reem Kufi", Arial, Helvetica, sans-serif;
   font-weight: 350;
   font-size: 1rem;
   font-style: normal;
 }

 /*styling af dropdown til desktop*/
 .dropdown {
   position: relative;
 }

 .dropdown-content {
   display: none; /* Skjuler dropdown-indholdet som standard */
   position: absolute;
   color: var(--sort);
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   padding: 12px 16px;
   z-index: 1;
   line-height: 1.5;
 }

 .dropdown-content a{
   font-family: "Reem Kufi", Arial, Helvetica, sans-serif;
   font-weight: 100;
   font-style:normal;
   font-size: 1rem;
 }

 #dropdown-left{
   right: 0.7rem; /* Justerer positionen til højre */
 }
 
 /* Styling af burger-ikon */
 .burger-icon {
    display: none;
 }

 }