
/*Basis css til alle html filerne*/

/*farver som variabler*/
:root {
    --sort: black;
    --hvid: white;
    --blå: #0066FF;
    --mørkeblå: #004dc1;
    --pink: #E904A8; 
    --orange: #E96E15; 
    --grøn: #07AE22; 
    --gul: #F9E004; 
}

/*style af hele siden*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: "Reem Kufi", Arial, Helvetica, sans-serif;
  }

/*Header style*/

 /*styling af hele header*/
 .header {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    display: flex;
    background-color: var(--hvid);
    justify-content: space-between; 
    align-items: center; 
    padding: 0 0.5rem;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed; /* Fastgør navbaren øverst på siden */
    z-index: 99;
    text-wrap: nowrap; 
 }

   /*logo styling*/
 .logostyle {
    width: 15%;
    height: auto;
    margin-left: 2rem; 
    margin-right: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
 }

/*det store logo skjules*/
 #logostor {
   display: none;
 }

 /*styling af burgermenu*/
 .dropdown-burgermenu {
    display: none; /* Skjuler dropdown-indholdet som standard */
    position:fixed;
    background-color: var(--hvid);
    font-weight: 100;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
    padding: 0.7rem 1rem;
    right: 1rem;
    line-height: 1.5;
    z-index: 1;
 }
 
 .dropdown-burgermenu a{
    text-decoration: none;
    background-color: var(--hvid);
    color: var(--sort);
    font-style: normal;
    font-size: 1rem;
 }

 .burger-icon {
    display: block;
    cursor: pointer;
    margin-right: 2.5rem;
    font-size: 2.5rem; /*størrelse på ikonet*/
 }
 
 .hover-effekt:hover {
    text-decoration: underline; /*Understreger når man hover over en overskrift*/
 }
 
 .toggle-checkbox:checked + .burger-icon + .dropdown-burgermenu {
    display: block; /*Viser/skjuler dropdown-menuen, når man trykker på burgerikonet*/
 }
 
 /*Styling af sub-dropdown-content*/
 .sub-dropdown-content {
    display:none;
    position: absolute;
    top: 100%;
    right: 100%;
    color: var(--sort);
    background-color: var(--hvid);
    font-weight: 100;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
    padding: 0.7rem 1rem;
    z-index: 1;
 }

 .submenu:hover .sub-dropdown-content {
    display: block; /*Viser sub-dropdownmenuen, når musen hover over*/
 }
 
 .submenu{
    position:relative;
 }
 
 #sub-dropdown-content1{
    position:fixed;
    display: none;
 }
 
 #sub-dropdown-content2{
    top:6rem;
    position: fixed;
 
 }
 
 /* Skjuler checkbox */
 #toggle {
    display: none;
 }
 
 /*skjuler navigationsbaren*/
 .navbar {
   display: none;
 }
 
 @media screen and (min-width: 992px) {

 /*det store logo vises*/
 #logostor {
   display: block;
 }

 /*Det lille logo skjules*/
 #logolille {
   display: none;
 }
 
 /*skjuler burgerikonet fra desktop*/
 .burger-icon {
   display: none;
 }

 /*styling af navbar til desktop størrelsen*/
 .navbar {
   list-style-type: none;
   display: flex; /*Navigationsbaren vises*/
   background-color: var(--hvid);
 }

 .navbar li:hover .dropdown-content { 
   display: block; /*Viser dropdown-indholdet, når musen hover over menupunkterne*/
 }

 .navbar li {
   margin-right: 3.5rem;
 }

 .navbar a {
   text-decoration: none;
   background-color: var(--hvid);
   color: var(--sort);
   font-weight: 350;
   font-size: 1rem;
   font-style: normal;
 }

 /*styling af dropdown til desktop*/
 .dropdown {
   position: relative;
 }

 .dropdown-content {
   display: none; /* Skjuler dropdown-indholdet som standard */
   position: absolute;
   background-color: var(--hvid);
   color: var(--sort);
   box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
   padding: 0.7rem 1rem;
   z-index: 1;
   line-height: 1.5;
 }

 .dropdown-content a{
   font-weight: 100;
   font-style:normal;
   font-size: 1rem;
 }

 #dropdown-left{
   right: 0.7rem; /*Justerer positionen til højre*/
 }

 }

 /*Main style*/

 /*padding øverst*/
 main {
   padding-top: 17%;
   padding-bottom: 10%;
 }
 
 /*Det øverste billede på siden style*/
 #øverstebilledelille {
   width: 100%;
   height: auto;
   position: absolute;
   z-index: 1;
 }


/*teksten ovenpå det øverste billede style*/
 #øverstetekst {
   position: absolute;
   padding-left: 10%;
   padding-top: 15%;
   z-index: 2; 
   width: 40%;
   height: auto;
 }

 #øverstebilledestor {
   display: none;
 }

 @media screen and (min-width: 992px) {
 
 /*padding øverst ændres*/
 main {
   padding-top: 9%;
 }

 #øverstebilledelille {
   display: none;
 }

 #øverstebilledestor {
   display: block;
   width: 100%;
   height: auto;
   position: absolute;
   z-index: 1;
 }
 
 #øverstetekst {
   position: absolute;
   padding-left: 20%;
   padding-top: 8%;
   z-index: 2; 
   width: 25%;
   height: auto;
 }
 
 }

 /*Footer style*/

 /*Tekstens placering*/
 footer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding-bottom: 5%;
 }

 /*sociale medier logo style*/
 .somelogo {
   width: 10%;
   padding-left: 1.5%;
   padding-right: 1.5%;
 }

 .somelogo:hover {
   cursor: pointer;
 }

 #logosection {
   padding-top: 3%;
   padding-bottom: 5%;
 }

/*padding mellem sektionerne*/
 .footersection {
   padding-top: 3%;
   padding-bottom: 3%;
 }

 /*skriftstørrelse på overskrifterne*/
 h5 {
   font-size: 1.5rem; 
 }

 /*Email sektionen style*/
 #email {
   border-style: solid;
   border-width: 1px;
   margin-top: 1rem;
   padding-top: 2px;
   padding-bottom: 2px;
   padding-left: 4px;
   padding-right: 4px;
 }

 /*Tilmeld + læs mere knapperne style*/
 #tilmeldknap, .læsmereknap, #tilmelddigherknap {
   background-color: var(--blå);
   color: var(--hvid);
   margin-top: 1rem;
   padding-top: 0.2rem;
   padding-bottom: 0.2rem;
   padding-left: 1.3rem;
   padding-right: 1.3rem;
   box-shadow: 0 0 4px var(--sort); 
 }

 /*Style når man hover over tilmeld og læs mere knappen*/
 #tilmeldknap:hover  {
 cursor: pointer;
 background-color: var(--mørkeblå);
 }

 .læsmereknap:hover {
  cursor: pointer;
  background-color: var(--mørkeblå);
 }

 #tilmelddigherknap:hover {
  cursor: pointer;
  background-color: var(--mørkeblå);
 }

 @media screen and (min-width: 992px) {

 /*Jusering af footer ift. større skærme*/
 footer {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 2rem;
   justify-content: center;
   padding-left: 20%;
   padding-bottom: 5%;
 }
  
 .footersection {
   text-align: start;
   align-self: start; 
 }
  
 /*logo størrelsen laves om*/
 .somelogo {
   width: 7%;
 }
  
 }